<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UIAppFonts</key>
	<array>
		<string>Fonts/HelveticaNeue.ttf</string>
		<string>Fonts/HelveticaNeueItalic.ttf</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>MBXAccessToken</key>
	<string>sk.eyJ1IjoidG9tbXl5ZW50eSIsImEiOiJjbHF1dzN4Zmc1Yjk3MmtycXhsaHI5NjFxIn0.CyS0WkbzbZKrrIEzDzskDw</string>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIImageName</key>
		<string>LaunchScreen</string>
	</dict>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict/>
		<dict/>
	</array>
</dict>
</plist>
